# NPM packages
node_modules/

# Yarn v2 files
.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions

# Build output
build/

# Log files
logs/
*.log*

# JetBrain IDE files
.idea/
